.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.success {
  background-color: green;
}
#header header {
  background-color: #2196f3;
}
.menu {
  float: right;
  width: 50%
}
#nav-logo {
  margin-right: 30%;
  width: 20%
}
.menu-items {
  display: inline;
  padding: 0 5%;
  float: left;
}
.menu-items-wrapper {
  float: right;
  width: 100%;
}
.cart-icon {
  float: right;
  margin-left: 5%;
  width: 5%;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #fafafa;
}

.formpaper {
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding: 2%;
}

.formcontent {
  padding: 5%;
  padding-bottom: 5%;
}

.avatarIcon {
  margin: auto;
}

.formHeading{
  margin: 2%;
  text-align: center;
}
.formSubmit {
  margin-top: 3% !important;
}

.data-table {
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.editpaper {
  margin: auto;
  margin-top: 10%;
  width: 70%
}
.firstNameField {
  float: left;
  width: 49%
}
.secondNameField {
  float: right;
  width: 49%
}